.modal-content {
    background-color: #666;
    color: white;
}

.btn-secondary {
    background-color: #444;
}

.btn-secondary:hover {
    background-color: #fff;
}

h5 {
    margin: auto;
}

.obj-fill {
    object-fit: fill
}

.logs {
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(60, 60, 60);
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5em;
}

.center-align {
    margin: auto;
}

@keyframes blinker {
    from {
        background-color: #b35454;
    }
    to {
        background-color: #666;
    }
}

.blink {
    animation: blinker 1.3s cubic-bezier(.5, 0, 1, 1) infinite;
}