<div>
    <h1>Unassigned Vehicles</h1>
</div>
<div class="container">
    <div class="row row-cols-4">
        <div *ngFor="let dataItem of Unassigned" class="col">
            <div class="card text-white bg-secondary mb-3 mt-3" style="max-width: 18rem;">
                <div class="card-header">Vehicle Plate: {{dataItem.vehicle.plate}}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="{{dataItem.vehicle.photo}}" class="rounded-circle position-relative" alt="Profile Picture" height="50px" width="50px">
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">{{dataItem.vehicle.model + " " + dataItem.vehicle.year}}</h5>
                        </div>
                    </div>
                    <!--span class="d-block mt-2">
                        <img class="mx-2" src="{{dataItem.driver.vehicle.vehicleStatus.current.iconOn}}" alt="Status Icon" height="25px" width="25px">
                        <span>Status: {{dataItem.driver.vehicle.vehicleStatus.current.isOn}}</span>
                    </span>
                    <span class="d-block mt-2">
                            <img class="mx-2" src="{{dataItem.driver.vehicle.vehicleStatus.current.iconDriving}}" alt="Driving Icon" height="25px" width="25px">
                            <span class="ml-3" >Trip: {{dataItem.driver.vehicle.vehicleStatus.current.isDriving}}</span>
                    </span>
                    <span class="d-block mt-2">
                        <img class="mx-2" src="{{dataItem.driver.vehicle.temperatureSensor.current.icon}}" alt="Temperature Icon" height="25px" width="25px">
                        <span class="ml-3" >Temperature: {{dataItem.driver.vehicle.temperatureSensor.current.name}}</span>
                    </span>

                    <span class="d-block mt-2">
                        <div class="container">
                            <img class="mx-2 rounded-circle" src="{{dataItem.driver.profilePhoto}}" alt="Temperature Icon" height="35px" width="35px">
                            <span class="ml-3" >Driver: {{dataItem.driver.firstName + " " + dataItem.driver.middleName + " " + dataItem.driver.lastName}}</span>
                </div>
                </span-->
                </div>

                <!--div class="card-body">
                    </div-->
                <!--div class="card-body">
                    </div-->
                <div class="card-body">
                    <button class="m-1 btn btn-dark" data-toggle="modal" data-target="#exampleModalUn" data-backdrop="static" data-keyboard="false" (click)="editClick(dataItem.vehicle)" Button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" >
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg></button>
                    <button class="m-1 btn btn-dark" Button (click)="deleteClick(dataItem.vehicle)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalUn" tabindex="-1" role="dialog" aria-labelledby="exampleModalUn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalUn">{{ModalTitle}}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="closeClickUn()">
          </button>
            </div>
            <div class="modal-body">
                <app-edit-unassigned [vhcu]="vhcu" *ngIf="ActivateAddEditVhcUnComponent"></app-edit-unassigned>
            </div>
        </div>
    </div>
</div>