<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6ecb1eaf-8628-4152-ba03-4cd6baa4f2d3/resourceGroups/AlcolimitsTestResourceGroup/providers/Microsoft.Web/sites/AlcolimitsTest</ResourceId>
    <ResourceGroup>AlcolimitsTestResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://alcolimitstest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>alcolimitstest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlcolimitsTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AlcolimitsTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AlcolimitsDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:alcolimitstestdbserver.database.windows.net,1433;Initial Catalog=Alcolimits;User ID=castellanos@alcolimitstestdbserver;Password=Alcolimits1" Name="Data Source=tcp:alcolimitstestdbserver.database.windows.net,1433;Initial Catalog=Alcolimits;User Id=castellanos@alcolimitstestdbserver;Password=Alcolimits1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-EIEJC75\SQLEXPRESS;Initial Catalog=Alcolimits;User ID=Admin;Password=alcolimits" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AlcolimitsDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DESKTOP-EIEJC75\SQLEXPRESS; user id=Admin; password=alcolimits; initial catalog=Alcolimits;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AlcolimitsDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:alcolimitstestdbserver.database.windows.net,1433;Initial Catalog=Alcolimits;User Id=castellanos@alcolimitstestdbserver;Password=Alcolimits1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>